.logo1 {
    position: relative; 
    width: 225.53px;
    height: 68px;
    /* left: 82px; */
    top: -89px;
}

.tutorial {
    position: relative;
    top: -200px;
}

.video {
    background: rgba(0, 0, 0, 0.26);
    border-radius: 24px 24px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tutorial-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;

    width: 326px;
    height: 150px;

    /* White */

    background: #FFFFFF;
    border-radius: 0px 0px 24px 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.tutorial-text-title {
    width: 278px;
    height: 38px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Main Text */

    color: #1F2937;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tutorial-text-desc {
    width: 278px;
    height: 48px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* Sub Text */

    color: #6B7280;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.skip {
    width: 264px;
    height: 24px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Sub Text */

    color: #6B7280;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.btn-next {
    /* padding: 7px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 12px; */
    gap: 10px;
    /* position: absolute; */
    width: 35px;
    height: 35px;
    /* left: 7px; */
    /* top: 7px; */
    background: #FFB7AC;
    border-radius: 100px;
}

.btn-next-div {
    left: 0px;
    top: 0px;
    border: 3px solid #E5E7EB;
    padding: 3px;
    border-radius: 100px;
}