.login-logo1 {
    position: relative;
    width: 145.93px;
    height: 44px;
    /* left: 122px; */
    top: -80px;
}

.get-started-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px 32px;
    gap: 64px;

    position: absolute;
    width: 100%;
    height: 580px;
    left: 0px;
    top: 219px;

    /* BG */

    background: #F9FAFB;
    border-radius: 32px 32px 0px 0px;
}

.title-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 326px;
    height: 111px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.title-text {
    width: 239px;
    height: 76px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;

    /* Main Text */

    color: #1F2937;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.title-text-sub {
    width: 279px;
    height: 19px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* Sub Text */

    color: #6B7280;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 326px;
    height: 130px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.sign-up-btn {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 66px;
    gap: 8px;

    width: 326px;
    height: 57px;

    /* Primary/Primary color */

    background: #FFB7AC;
    /* Primary/Primary color */

    border: 1px solid #FFB7AC;
    /* EV-01 */

    box-shadow: 0px 6px 11px rgba(235, 202, 202, 0.3);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.sign-up-btn-text {
    /* Next */
    width: 142px;
    height: 19px;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Main Text */

    color: #1F2937;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.login-btn {
    /* Button */


box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 66px;
    gap: 8px;

    width: 326px;
    height: 57px;

    /* White */

    background: #FFFFFF;
    /* Primary Color 2 */

    border: 1px solid #FFAEAE;
    /* EV-01 */

    box-shadow: 0px 6px 11px rgba(235, 202, 202, 0.3);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.login-btn-text {
    width: 43px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Main Text */

    color: #1F2937;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.terms-text {
    /* sign up */
    position: absolute;
    width: 296.39px;
    /* left: calc(50% - 296.39px/2 - 0px); */
    top: 91.23%;
    bottom: 4.03%;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    text-align: center;
    letter-spacing: 0.2px;

    /* Sub Text */

    color: #6B7280;
}