body {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
}

.page-container {
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
}

h4, p {
  margin: 0px !important;
}

button {
  cursor: pointer;
}

.row {
  --bs-gutter-x : 0px !important;
  margin: 0px !important;
}

.container-fluid {
  --bs-gutter-x: 0px !important;
}

/* #root {
  overflow-x: hidden;
} */